@import 'mixins';
@import 'variables';
@import 'elements';

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 3px;
}

#root{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
}

.hero{
    padding: 1%;
    height: 100vh;
    width: 100%;
    background-image: url('../img/bg-hero.jpg');
    background-size: cover;
    @include flex-column;
    align-items: center;
    .logo{
        background-image: url('../img/logo.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        height: 90%;
    }
    .arrow{
        background-image: url('../img/arrow.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 20%;
        height: 15%;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.movies{
    position: relative;
    width: 100%;
    min-height: 100vh;
    @include flex-column;
    align-items: center;
    background-image: url('../img/bg-hero.jpg');
    background-size: cover;
    .dateSlider{
        width: 100%;
        height: 55px;
        background-image: linear-gradient(to bottom, #08080c, #010102);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .dates{
        @include flex-center;
        width: 20%;
        height: 70%;
        border-right: 2px solid #fff;
        text-shadow: none;
        transition: all .2s;
        &:hover{
            @include glowText($purple-glow);
            cursor: pointer;
        }
    }
    .activeDate{
        @include glowText($blue-glow);
    }

    .dates-last{
        border-right: none;
    }
}

.moviesList{
    @include flex-between;
    align-items: center;
    min-height: 80%;
    width: 80%;
    height: auto;
}

.movieWrap{
    @include flex-column-center;
    padding: 30px 10px;;
    h3{ 
        padding: 10px;
        width: 160px;
        text-align: center;
    }
    span{transition: all .3s;}
    span:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.movieTitle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
}

.singleMovieInner{
    background-image: rgba(131, 131, 131, 0.0);
    position: absolute;
    width: 164px;
    height: 246px;
    border-radius: 5px;
    border: 2px solid $purple-core;
    @include glowBox($purple-glow);
    z-index: 3;
    @include flex-center;
    transition: background-image 5s ease-in-out; 
    img{
        position: relative;
        border-radius: inherit;
        z-index: -5 !important;
    }
    &:hover{
        background: url('../img/rezerwuj.png');
        cursor: pointer;
    }
}

.singleMovieOuter{
    width: 184px;
    height: 265px;
    border-radius: 5px;
    border: 2px solid $blue-core;
    @include glowBox($blue-glow);
    @include flex-center;
}

.overlay{
    position: absolute;
    opacity: 0;
    width: 150px;
    height: 225px;
    border-radius: 5px;
    background-color: red;
    transition: all .3s;

}
.showMovieInfo{
    position: absolute;
    z-index: 5;
    width: 60%;
    height: 85%;
}

.movieInfo{
    @include window;
}

.showWindow{
    position: absolute;
    z-index: 5;
    width: 80%;
    height: 85%;
}

.window{
    // display: none;
    @include window;
    .content{
        width: 100%;
        height: 100%;
        @include flex-column;
        flex-wrap: wrap;
        @include mQ(1024px){
            flex-wrap: nowrap;
            min-height: 100%;
            height: auto;
        }
    }
}

.X{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    padding: 10px 20px;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.registerForm{
    width: 66%;
    height: 90%;
    border-right: 3px solid white;
    form{
        width: 100%;
        @include flex-column;
        align-items: center;
        label{
            padding-bottom: 10px;
        }
        input[type=text], input[type=email]{
            width: 50%;
            height: 30px;
            padding: 5px;
            margin-bottom: 20px;
            background-color: rgba(7,8,10,0.98);
            border: 2px solid #fff0f9;
            border-radius: 5px;
            @include glowBox($purple-glow);
                &:focus, &:hover{
                    outline: none;
                    @include glowBox($purple-glow-hover)
                }
        }
        @include btn('../img/potwierdz_btn.png');
    }
    @include mQ(1024px){
        border: none;
        width: 100%;  
    }
}

.cinema{
    width: 66%;
    height: 90%;
    border-right: 3px solid white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
    .screen{
        width: 100%;
        min-height: 50px;
        max-height: 15%;
        @include cinema-border;
        @include flex-center;
        @include mQ(1024px){
            margin: 20px 0;
        }
    }
    .seats{
        width: 96%;
        height: 75%;
        display: grid;
        grid-template-columns: repeat(11, minmax(min-content, 45px));;
        //column-gap: 5px;
        row-gap: 10px;
        justify-content: space-evenly;
    }
    @include mQ(1024px){
        border: none;
        width: fit-content;  
    }
    @include mQ(700px){
        
        row-gap: 5px;
        column-gap: 0;
    }
}

.seat{
    @include seat;
    &:hover{
        background-color: rgba(131, 131, 131, 0.1);
        cursor: pointer;
    }
}

.bookedSeat{
    background-image: url('../img/x.png');
    background-size: cover;
    @include seat;
}


.selectedSeat{
    background-image: url('../img/ok.png');
    background-size: cover;
   @include seat;
}

.info{
    width: 30%;
    height: 90%;
    margin: 0 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    .resInfo{
        list-style: none;
        li:nth-child(2){
            margin: 15px 0;
        }
        span{
            @include glowText($purple-glow);
        }
    }
    @include btn('../img/rezerwujBtn.png');
    @include mQ(1024px){
        width: 100%;
    }
}

.seatsStatus{
    min-height: fit-content;
    @include flex-column;
    .seatStatus{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 6px;
        .seat{
            @include mQ(1024px){
                width: 30px;
                height: 30px;
            }
        }
        &:hover{
            background-color: rgba(131, 131, 131, 0.0);
            cursor: default;
        }
    }
    h3{
        padding-left: 15px;
    }
    @include mQ(1024px){
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px 0 20px 0;
    }
}

    //scrollbar
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #07070e; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $purple-core; 
        @include glowBox($purple-glow);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $purple-glow-hover; 
      }