@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin cinema-border{
    border: 3px solid white;
}

@mixin seat {
    width: 45px;
    height: 45px;
    @include flex-center;
    @include cinema-border;
    @include mQ(835px){
        width: 35px;
        height: 35px;
    }
    @include mQ(700px){
        width: 25px;
        height: 25px;
    }
}

@mixin mQ($arg){
    @media only screen and (max-width: $arg) {
        @content;
    }
}

//scrollbar
/* width */
@mixin scrollbar{
    /* width */

}